.toolbar {
  display: flex;
  align-items: center;

  background-color: white;
  font-weight: 500;
  border-bottom: 1px solid #eeeef1;

  top: 0px;
}

.buttonLast {
  display: flex;
  justify-content: flex-end;
  
}


@supports (backdrop-filter: blur(20px)) {
  .toolbar {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.toolbar-title {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 800;
  width: 85%
}



.left-items .toolbar-button:last-child,
.right-items .toolbar-button:last-child {
  margin: 0;
}